@mixin fontFace($family,$src,$style: normal,$weight: normal) {
     @font-face{
        font-family: $family;
        src: url('../fonts/Asap/#{$src}.eot'); // IE9 compat
        src:url('../fonts/Asap/#{$src}.eot?#iefix') format('embedded-opentype'),// IE8 and below
        url('../fonts/Asap/#{$src}.woff') format('woff'),// standards
        url('../fonts/Asap/#{$src}.woff2') format('woff2'),// standards
        url('../fonts/Asap/#{$src}.ttf') format('truetype'),// Safari, Android, iOS
        url(  '../fonts/Asap/#{$src}.svg##{$family}') format('svg'); // legacy iOS

        font-style: $style;
        font-weight: $weight;
    }
}
